html {
    margin: 0 auto;
    padding: 0;

    height: 100%;

    background-image: url(../imagens/brooke-cagle-TiTU0k1E0UE-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
body {
    height: 100%;
}
*, *::before, *::after {
    box-sizing: border-box;
}
#root {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    background-color: rgba(255,255,255,0);
    max-width: 480px;
    height: 100%;

    margin: auto;

    .field {
        position: absolute;
        top: 60px;
        left: 50%;
        margin-left: -150px;

        width: 400px;
    }
    label {
        position: absolute;
        bottom:0;
        visibility: hidden;
    }
    table {
        cursor: pointer;
        background-color: rgba(255,255,255,0.6);
        border-radius: 5px;
        margin-bottom: 20px;

        th {
            text-align: center;
            vertical-align: middle;
        }
        td {
            text-align: left;
            vertical-align: middle;
        }
        tr {
            transition: 0.3s;
            &:hover {
                background-color: rgba(86, 221, 86, 0.5);
            }
        }
        
    }
    .items-list {
        padding-top: 100px;

        .items-title {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px 30px 0px 30px;
    
            font-size: 1.5em;
            color: rgb(252, 252, 252);
            text-shadow: 1px 1px 5px black;
        }
    }

    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: first baseline;
        width: 100%;
    }

    .form-title {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 30px 0px 30px;

        font-size: 1.5em;
        color: rgb(252, 252, 252);
        text-shadow: 1px 1px 4px black;
    }
    #no-delete {
        margin-top: 100px;
        width: fit-content;
    }
    .editar, .excluir {
        padding: 5px;
    }
    .editar {
        a {
            color: rgb(95, 95, 247);
            &:hover {
                color: blue;
            }
        }
    }
    .excluir {
        a {
            color: rgb(245, 71, 71);
            &:hover {
                color: red;
            }
        }
    }

    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 60%;
        height: 100%;

        form {
            display: flex;
            justify-content: center;
            flex-direction: column;
            
            background-color: white;
            border-radius: 10px;
            box-shadow: 2px 2px 6px black;

            padding: 8px;

            background-color: rgb(93, 93, 236);

            .inside-container-login {
                border: 0.5px solid rgb(196, 193, 193);
                border-radius: 5px;
                padding: 20px;

                display: flex;
                justify-content: center;
                flex-direction: column;

                background-color: white;

                h1 {
                    font-size: 1.4em;
                    color: blue;
                    text-shadow: none;
                }

                table {
                    border-collapse: separate;
                    border-spacing: 0 1em;
                }
            }
        }
    }

    h1 {
        color: white;
        font-size: 1.2em;
        text-shadow: 1px 1px 5px black;

        a {
            color: rgb(245, 71, 71);
            &:hover {
                color: red;
            }
        }
    }
}
